body {
    background-color: #ebe1e1;
}

#headers {
    /* font-family: sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-left: 50px;
    padding: 100px;
}


h3 {
    color: #175873;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.name {
    position: relative;
    top:5vw;
    text-align: center;
    line-height: 1.5;
    font-size: 90px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: "Concert One";
    color:#177356;
    font-weight: 100;
    line-height:20rem;
}
  
.slogan {
    position: relative;
    text-align: center;
    /* line-height: 1.5; */
    font-size: 30px;
    font-family: "Concert One";
    font-weight: 20;
    color:black;
  }

#homeimg{
  position:absolute;
  /* margin:auto;  */
  object-fit:cover;
  /* display:block; */
  width:100%;
  /* height:auto; */
  left:0;
  z-index:-1;
  opacity:45%;
}

#shampoo{
  position:relative;
  height:50%;
  width:50%;
  left:375px;
}

nav {
  display:flex;
  position:fixed;
  width:100%;
  z-index:0;
  
}


ul {
    z-index:0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #177356;
    /* background-image: linear-gradient(#a447e3,#e5a5f3); */

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  li {
    z-index:0;
    float: right;
    padding: 15px;
    font-size: 28px;
    background-color: #177356;
    /* background-image: linear-gradient(#a447e3,#e5a5f3); */
    font-family: "Concert One";
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  }

  .homebutton {
    /* float:right; */
    position:fixed;
    left:0;
    top:-.5vw;
    padding: 15px;
    font-size: 25px;
    /* background-color: #175873; */
    font-family: "Concert One";
    color:white;

  }

  .homebutton:hover {
    /* background-color:#d8adf6; */

  }
  
  li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.nav-bar a:hover {
    /* background-color: #3e778f; */
    /* background-color:#d8adf6; */
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px; 
    color:#24033a;
  
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    2f0%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  li:hover{
    /* background-color:#d8adf6; */
    

  }

